
@import "header.css";

main{
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    background-image: url("/src/assets/images/background-pokemon-field.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper-content{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.modal-title{
    margin-left: auto;
}

.btn-close{
    margin: 0;
}

.modal-body{
    align-self: center;
}

#image-pokemon{
    width: 12.5rem;
    height: 12.5rem;
}

.modal-body.modalBody2{
    align-self: start;
    font-weight: 900;
}
