@import "header.css";
@import "modal.css";
@import "card.css";

main {
  display: flex;
  flex-direction: column;
}
body {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  background-image: url("../assets/images/pokeball-background3-baixa.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 3rem;
}

.wrapper-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.back-to-top-link {
  font-size: 2rem;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.btn-close {
  margin: 0;
}

.btn {
  background-color: #3A6D4F;
  color: #D7EB36;
  transition: background-color 0.5s, color 0.5s;
}

.btn:hover {
  background-color: #577c67;
  color: #dff05d;
 
}

a{
  color:#3A6D4F;
}
a :hover{
  color: #577c67;
}
a :visited{
  color:#3A6D4F;
}

#btnCarregarMais {
  width: 30rem;
  margin: 1.5rem auto;
}

label {
  font-weight: 900;
}
