@import "header.css";
@import "modal.css";

main {
  display: flex;
  flex-direction: column;
  align-self: center;
}
body {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  background-image: url("/src/assets/images/pokeball.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-bottom: 3rem;
}

.wrapper-content {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.back-to-top-link {
  font-size: 2rem;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
.card {
  transition: transform 0.5s, filter 0.5s;
  background-color: #e0e4ecdc;
}
.card:hover {
  background-blend-mode: lighten;
  transform: scale(1.05);
  filter: brightness(1.1);
}
.card-title {
  align-self: center;
  margin-top: 1rem;
}
.card-type-label {
  justify-self: center;
}
.card-text {
  align-self: center;
}
.card-text:last-child {
  margin-bottom: 1rem;
  justify-self: center;
}
.card-body {
  padding: 0rem 1rem 0.5rem 1rem;
  z-index: 1;
  justify-items: center;
}

.background-img-card {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.title-pokemon {
  margin-top: 0.5rem;
  position: relative;
  z-index: 1;
}

.card-img-top {
  z-index: 1;
  filter: drop-shadow(5px 5px 5px rgb(43, 40, 40));
  width: 6rem;
}
.btn-primary {
  background-color: #3c5ba6;
  border-color: #3c5ba6;
}

.btn-close {
  margin: 0;
}

.btn {
  background-color: green;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}

.btn:hover {
  background-color: rgb(72, 248, 72);
  color: black;
}

.btn {
  background-color: green;
  color: white;
  transition: background-color 0.5s, color 0.5s;
}

.btn:hover {
  background-color: rgb(72, 248, 72);
  color: black;
}

#btnCarregarMais {
  width: 30rem;
  margin: 1.5rem auto;
}

#image-pokemon {
  margin-left: 8rem;
  width: 12.5rem;
  height: 12.5rem;
  filter: drop-shadow(5px 5px 5px rgb(43, 40, 40));
}

#searchPokemon {
  display: flex;
  width: 35rem;
  align-content: center;
  justify-self: center;
  margin-top: 1.5rem;
  background-color: rgba(2, 2, 5, 0.589);
  border-radius: 6px;
  padding: 1rem;
}

#searchPokemon {
  display: flex;
  width: 35rem;
  align-content: center;
  justify-self: center;
  margin-top: 1.5rem;
  background-color: rgba(2, 2, 5, 0.589);
  border-radius: 6px;
  padding: 1rem;
}

label {
  font-weight: 900;
}

.label-abilities {
  margin-left: 1rem;
}

.title-pokemon {
  width: 70%;
  align-self: center;
}

@media (max-width: 650) {
  #searchPokemon {
    flex-direction: column;
    flex-wrap: wrap;
  }
}
